body {
  .container-login {
    margin: 0 auto;
    padding-top: 40px;

    .title {
      font-size: 20px;
      font-weight: 650;
      text-align: center;
      padding-bottom: 10px;
    }
    .text {
      font-weight: 600;
      font-size: 15px;
      padding: 2px 0;
    }
    .input {
      padding-bottom: 6px;
      input {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        border: #7b3c3c;
        outline: black;
        background-color: #e7edf4;
        border-radius: 3px;
        &:hover {
          background-color: #d3d9df;
        }
      }
    }

    .input-password {
      position: relative;
      i {
        position: absolute;
        top: 12px;
        right: 10px;
        cursor: pointer;
      }
    }
    .button {
      padding: 20px 0;

      button {
        padding: 7px 0;
        border: none;
        outline: none;
        width: 100%;
        background-color: #f0f4f7;
        color: #c7c9ca;
        border-radius: 3px;
        cursor: not-allowed;
      }
      .active {
        color: white;
        background-color: rgb(253, 88, 88);
        cursor: pointer;
      }
    }

    .button-back {
      text-align: center;

      button {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        outline: none;
        border: none;
        background-color: transparent;

        i {
          padding-right: 5px;
        }
      }
    }
  }
}
